* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    font-size: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

:root {
    --text-font-size: 1rem;
    --heading-font-size: 2rem;
}

.clear {
    clear: both;
}

header {
    height: 46px;
    background-color: black;
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    z-index: 1;
}

#nav > li {
    display: inline-block;
    line-height: 46px;
    position: relative;
}

#nav > li > a {
    text-decoration: none;
    color: white;
    display: inline-block;
    padding: 0 24px;
}

#nav .subnav li:hover a,
#nav > li:hover > a {
    background-color: #ccc;
    color: black;
}

#nav  li:hover .subnav {
    display: block;
}

#nav .subnav {
    position: absolute;
    background-color: white;
    display: none;
    min-width: 46px;
    left: 0;
    top: 100%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

#nav {
    display: inline-block;
}

.subnav {
    list-style-type: none;
    color: black;
}

#nav .subnav li a {
    text-decoration: none;
    color: black;
    padding: 0 1rem;
    display: block;
    width: 100%;
    line-height: 38px;
}

#nav .arrow-down {
    font-size: 14px;
}

header .search-button {
    float: right;
    color: white;
    padding: 0 26px;
}

header .search-button:hover {
    cursor: pointer;
    background-color: red;
}

header .search-icon {
    line-height: 46px;
}

#slider {
    margin-top: 46px;
    padding-top: 50%;
    position: relative;
    background-image: url('../img/slider/slider_chicago.jpg');
    background-size: contain;
    background-repeat: no-repeat;

}

#slider .text-content {
    position: absolute;
    bottom: 48px;
    color: #fff;
    text-align: center;
    left: 0;
    right: 0;
}

#slider .text-heading {
    margin: 25px 0;
    font-weight: 450;
}

#slider .text-description {
   text-shadow: 0 0 10px #000 ;
     
}

section .section-content {
    width: 800px;
    padding: 64px 16px;
    margin-left: auto;
    margin-right: auto;
}

section .section-heading {
    font-size: 30px;
    text-align: center;
    margin: 25px 0;
    letter-spacing: 4px;
    font-weight: 500;
}

section .section-sub-heading {
    font-size: 15px;
    opacity: 0.6;
    font-style: italic;
    text-align: center;
    margin: 15px 0;
}

section .about {
    text-align: justify;
    line-height: 1.4;
    margin-bottom: 15px;
}

section .member-list {
    margin-top: 48px;
}

section .member-item {
    float: left;
    width: 33.33333%;
    text-align: center;
}

section .member-avatar {
    width: 154px;
    border-radius: 4px;
    padding: 32px 0;
}

section .section-tour {
    background-color: black;
}

section .tour-heading,
section .tour-sub-heading {
    color: white;
}